h1 {
  color: #bd93f9;
  font-size: 42px;
  font-family: "Hack", hack, monospace;
}

h3 {
  color: #bd93f9;
  font-size: 22px;
  font-family: "Hack", hack, monospace;
}

a:link, a:visited {
  color: #f8f8f2; 
  text-decoration: none;
  font-size: 18px;
  font-family: "Hack", hack, monospace;
}

a:hover {
  color: #ff79c6;
  text-decoration: none;
  font-size: 18px;
  font-family: "Hack", hack, monospace;
}